.postWrap {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.postWrap h2 {
    font-size: 22px;  
    margin: 20px 0;
}

.postWrap fieldset, .postWrap button {
    border: 0!important;
}

.postWrap textarea {
    width:100%;
    font-size: 16px;
    outline: none; /*Remove the blue glow*/
    overflow: auto;
    resize: none;
    border: 1px solid rgba(209, 209, 209, 0.932); 
    padding: 10px;
    margin-bottom: 20px;    
}

.postWrap button {
    padding:10px 20px;
    background: #000;
    color: #fff;
    display: inherit;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    margin-bottom: 10px;
}
.postWrap button:hover {
    background: #313131;
    transition: all .3s ease-out;
}

.postWrap .posts {
    margin: 30px 0;
}


