.sidebarWrap {
    background: #f4f4f4;
    padding: 20px;
    padding: 40px 40px;
}

.sidebarWrap h4 {
    margin-bottom: 30px;
}

.nav {
    grid-area: n;
    margin-bottom: 40px;
  }
  
.nav ul {
    list-style-type: none;
    
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    transition:  all .3s ease-out;
    -webkit-transition:  all .3s ease-out;
    -moz-transition:  all .3s ease-out;
    -ms-transition:  all .3s ease-out;
    -o-transition:  all .3s ease-out;
    letter-spacing: 0.1ex;
   
}

.nav ul li a:hover {
    transition:  all .3s ease-out;
    -webkit-transition:  all .3s ease-out;
    -moz-transition:  all .3s ease-out;
    -ms-transition:  all .3s ease-out;
    -o-transition:  all .3s ease-out;
    color: #555;
}

.nav ul li {
    line-height: 1.4;
    padding-bottom: 20px;
}

.item a.active {
    color: rgba(17, 10, 10, 0.932);
    font-size: 17px;
    font-weight: 700;
}

.friendsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}