

.friendItem {
    color: #f1f1f1;
    min-width: 20px;
    padding-bottom: 20px;
    min-height: 10vh;
    margin: 0 24px 0 0;
}

.friendItem:nth-child(4n) {
    margin-right: 0;
}

.friendItem img {
    max-width: 30px;
    height: auto;
    border-radius: 50%;
}