.formControl {
    position: relative;
}

.formControl input {
    padding: 10px;
}

.formControl.error input,
.formControl.error textarea {
    border: 1px solid #f00;
}

.formControl.error span {
    color: #f00;
    position: absolute;
    bottom: 1px;
    right: 10px;
    font-weight: 600;
}

.formSummaryError {
    color: red;
    padding: 5px;
}