.dialogs {
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.dialogList,
.messages {
    color: #000;
    line-height: 2;

}

.dialogList a,
.message {
    padding-bottom: 10px;
    text-decoration: none;
}

.sendMessage {
    margin: 20px 0;
}

.sendMessage textarea {
    width: 100%;
    font-size: 16px;
    outline: none;
    /*Remove the blue glow*/
    overflow: auto;
    resize: none;
    border: 1px solid rgba(209, 209, 209, 0.932);
    padding: 10px;
    margin-bottom: 20px;
    height: 200px;
}