.dialogs {

    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
    grid-template-columns: 1fr 11fr;
    grid-gap: 10px;
    

}

.dialogList, .messages {
    color: #000;
    line-height: 2;
    
}    
.dialogList a, .message {
    padding-bottom: 10px;
    text-decoration: none;    
}
